In [1]:
import pandas as pd

In [2]:
bats_19 = pd.read_csv('2019_atbats.csv')

In [3]:
pitches = pd.read_csv('pitches.csv')

In [4]:
games_19 = pd.read_csv('2019_games.csv')

In [5]:
bats = pd.read_csv('atbats.csv')

In [6]:
names = pd.read_csv('player_names.csv')

In [7]:
pitches_19 = pd.read_csv('2019_pitches.csv')

In [8]:
ejections = pd.read_csv('ejections.csv')

In [9]:
games = pd.read_csv('games.csv')

In [10]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

# Prepping the Data

In [11]:
bats_19.head()

,inning,top,ab_id,g_id,p_score,batter_id,pitcher_id,stand,p_throws,event,o
0,1.00000,1.00000,2019000001.00000,201900001.00000,0.00000,594777,571666,L,R,Flyout,1
1,1.00000,1.00000,2019000002.00000,201900001.00000,0.00000,545361,571666,R,R,Flyout,2
2,1.00000,1.00000,2019000003.00000,201900001.00000,0.00000,571506,571666,L,R,Groundout,3
3,1.00000,0.00000,2019000004.00000,201900001.00000,0.00000,543257,502239,L,R,Single,0
4,1.00000,0.00000,2019000005.00000,201900001.00000,0.00000,656305,502239,R,R,Flyout,1

In [12]:
pitches.head()

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,ay,az,sz_bot,sz_top,type_confidence,vx0,vy0,vz0,x,x0,y,y0,z0,pfx_x,pfx_z,nasty,zone,code,type,pitch_type,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.41600,2.96300,92.90000,84.10000,2305.05200,159.23500,-25.00000,3.20000,23.70000,7.66500,34.68500,-11.96000,1.72000,3.56000,2.00000,-6.40900,-136.06500,-3.99500,101.14000,2.28000,158.78000,50.00000,5.30200,4.16000,10.93000,55.00000,3.00000,C,S,FF,3,0.00000,2015000001.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000
1,-0.19100,2.34700,92.80000,84.10000,2689.93500,151.40200,-40.70000,3.40000,23.70000,12.04300,34.22500,-10.08500,1.72000,3.56000,2.00000,-8.41100,-135.69000,-5.98000,124.28000,2.11900,175.41000,50.00000,5.30700,6.57000,12.00000,31.00000,5.00000,S,S,FF,4,0.00000,2015000001.00000,0.00000,1.00000,0.00000,2.00000,0.00000,0.00000,0.00000
2,-0.51800,3.28400,94.10000,85.20000,2647.97200,145.12500,-43.70000,3.70000,23.70000,14.36800,35.27600,-11.56000,1.72000,3.56000,2.00000,-9.80200,-137.66800,-3.33700,136.74000,2.12700,150.11000,50.00000,5.31300,7.61000,10.88000,49.00000,1.00000,F,S,FF,5,0.00000,2015000001.00000,0.00000,2.00000,0.00000,3.00000,0.00000,0.00000,0.00000
3,-0.64100,1.22100,91.00000,84.00000,1289.59000,169.75100,-1.30000,5.00000,23.80000,2.10400,28.35400,-20.54000,1.74000,3.35000,2.00000,-8.07100,-133.00500,-6.56700,109.68564,2.27900,187.46348,50.00000,5.21000,1.17000,6.45000,41.00000,13.00000,B,B,FF,6,0.00000,2015000001.00000,0.00000,2.00000,0.00000,4.00000,0.00000,0.00000,0.00000
4,-1.82100,2.08300,75.40000,69.60000,1374.56900,280.67100,18.40000,12.00000,23.80000,-10.28000,21.77400,-34.11100,1.72000,3.56000,2.00000,-6.30900,-110.40900,0.32500,146.52753,2.17900,177.24283,50.00000,5.55700,-8.43000,-1.65000,18.00000,13.00000,B,B,CU,7,0.00000,2015000001.00000,1.00000,2.00000,0.00000,5.00000,0.00000,0.00000,0.00000

In [13]:
games_19.head()

,g_id,home_team,away_team,home_final_score,away_final_score,date,umpire_HP,umpire_1B,umpire_2B,umpire_3B,start_time,venue_name,weather,wind,elapsed_time,attendance
0,201900001.00000,oak,ana,4.00000,0.00000,2019-03-28,nan,nan,nan,nan,nan,Oakland Coliseum,nan,nan,nan,nan
1,201900002.00000,lan,ari,12.00000,5.00000,2019-03-28,nan,nan,nan,nan,nan,Dodger Stadium,nan,nan,nan,nan
2,201900003.00000,phi,atl,10.00000,4.00000,2019-03-28,nan,nan,nan,nan,nan,Citizens Bank Park,nan,nan,nan,nan
3,201900004.00000,nya,bal,7.00000,2.00000,2019-03-28,nan,nan,nan,nan,nan,Yankee Stadium,nan,nan,nan,nan
4,201900005.00000,sea,bos,12.00000,4.00000,2019-03-28,nan,nan,nan,nan,nan,T-Mobile Park,nan,nan,nan,nan

In [14]:
bats.head()

,ab_id,batter_id,event,g_id,inning,o,p_score,p_throws,pitcher_id,stand,top
0,2015000001,572761,Groundout,201500001,1,1,0,L,452657,L,True
1,2015000002,518792,Double,201500001,1,1,0,L,452657,L,True
2,2015000003,407812,Single,201500001,1,1,0,L,452657,R,True
3,2015000004,425509,Strikeout,201500001,1,2,0,L,452657,R,True
4,2015000005,571431,Strikeout,201500001,1,3,0,L,452657,L,True

In [15]:
pitches_19.head()

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,ay,az,sz_bot,sz_top,type_confidence,vx0,vy0,vz0,x,x0,y,y0,z0,pfx_x,pfx_z,nasty,zone,code,type,pitch_type,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.00000,2.15000,88.80000,80.70000,placeholder,placeholder,22.80000,4.80000,24.00000,-8.47000,28.90000,-15.51000,1.70000,3.36000,placeholder,5.28000,-128.95000,-6.89000,116.97,-1.42000,180.81,50.00000,6.07000,-5.07000,9.98000,nan,placeholder,X,X,FF,5,0.00000,2019000001.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000
1,0.34000,2.31000,89.90000,81.80000,placeholder,placeholder,22.80000,3.60000,24.00000,-7.10000,28.85000,-12.99000,1.80000,3.55000,placeholder,4.89000,-130.54000,-7.48000,103.93,-1.02000,176.34,50.00000,6.20000,-4.14000,11.18000,nan,placeholder,C,C,FF,8,0.00000,2019000002.00000,0.00000,0.00000,1.00000,1.00000,0.00000,0.00000,0.00000
2,-0.05000,2.03000,85.70000,79.60000,placeholder,placeholder,9.60000,6.00000,24.00000,3.65000,22.07000,-22.64000,1.59000,3.55000,placeholder,2.33000,-124.60000,-5.98000,118.86,-1.29000,183.96,50.00000,6.30000,2.30000,5.99000,nan,placeholder,S,S,SL,9,0.00000,2019000002.00000,0.00000,0.00000,1.00000,2.00000,0.00000,0.00000,0.00000
3,0.49000,0.92000,85.40000,78.50000,placeholder,placeholder,24.00000,7.20000,24.00000,-13.77000,24.44000,-25.74000,1.74000,3.55000,placeholder,7.83000,-123.74000,-6.78000,98.15,-1.56000,214.03,50.00000,5.85000,-8.87000,4.14000,nan,placeholder,B,B,CH,10,0.00000,2019000002.00000,0.00000,1.00000,1.00000,3.00000,0.00000,0.00000,0.00000
4,-0.13000,1.11000,84.60000,77.60000,placeholder,placeholder,26.40000,8.40000,24.00000,-15.99000,24.56000,-28.36000,1.83000,3.59000,placeholder,6.79000,-122.67000,-5.73000,121.81,-1.57000,208.77,50.00000,5.89000,-10.51000,2.51000,nan,placeholder,B,B,CH,11,0.00000,2019000002.00000,1.00000,1.00000,1.00000,4.00000,0.00000,0.00000,0.00000

In [16]:
ejections.head()

,ab_id,des,event_num,g_id,player_id,date,BS,CORRECT,team,is_home_team
0,2015003219,San Diego Padres center fielder Will Venable e...,732,201500044,461416,4/9/15,NaN,NaN,sdn,True
1,2015003219,San Diego Padres Manager Bud Black ejected by ...,734,201500044,111034,4/9/15,NaN,NaN,sdn,True
2,2015004134,Milwaukee Brewers second baseman Scooter Genne...,584,201500055,571697,4/10/15,Y,C,mil,True
3,2015006692,Cincinnati Reds Manager Bryan Price ejected by...,557,201500088,427406,4/12/15,NaN,NaN,cin,True
4,2015008446,Pittsburgh Pirates Manager Clint Hurdle ejecte...,402,201500111,116346,4/14/15,Y,I,pit,True

In [17]:
games.head()

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
1,45909,1,ana,2015-04-06,153,201500002,4,sea,1:12 PM,Ron Kulpa,Brian Knight,Vic Carapazza,Larry Vanover,Safeco Field,"54 degrees, cloudy","1 mph, Varies",0
2,36969,2,atl,2015-04-06,156,201500003,1,mia,4:22 PM,Laz Diaz,Chris Guccione,Cory Blaser,Jeff Nelson,Marlins Park,"80 degrees, partly cloudy","16 mph, In from CF",16
3,31042,6,bal,2015-04-06,181,201500004,2,tba,3:12 PM,Ed Hickox,Paul Nauert,Mike Estabrook,Dana DeMuth,Tropicana Field,"72 degrees, dome","0 mph, None",0
4,45549,8,bos,2015-04-06,181,201500005,0,phi,3:08 PM,Phil Cuzzi,Tony Randazzo,Will Little,Gerry Davis,Citizens Bank Park,"71 degrees, partly cloudy","11 mph, Out to RF",0

## Creating a column that will determine if the home team won or not

In [18]:
games['home_team_won'] = games['home_final_score'] > games['away_final_score']

In [19]:
games.home_team_won.replace({False: 0, True: 1}, inplace=True)

In [20]:
games.head()

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay,home_team_won
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0,0
1,45909,1,ana,2015-04-06,153,201500002,4,sea,1:12 PM,Ron Kulpa,Brian Knight,Vic Carapazza,Larry Vanover,Safeco Field,"54 degrees, cloudy","1 mph, Varies",0,1
2,36969,2,atl,2015-04-06,156,201500003,1,mia,4:22 PM,Laz Diaz,Chris Guccione,Cory Blaser,Jeff Nelson,Marlins Park,"80 degrees, partly cloudy","16 mph, In from CF",16,0
3,31042,6,bal,2015-04-06,181,201500004,2,tba,3:12 PM,Ed Hickox,Paul Nauert,Mike Estabrook,Dana DeMuth,Tropicana Field,"72 degrees, dome","0 mph, None",0,0
4,45549,8,bos,2015-04-06,181,201500005,0,phi,3:08 PM,Phil Cuzzi,Tony Randazzo,Will Little,Gerry Davis,Citizens Bank Park,"71 degrees, partly cloudy","11 mph, Out to RF",0,0

## Assess Pitching Data

In [21]:
pitches.head()

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,ay,az,sz_bot,sz_top,type_confidence,vx0,vy0,vz0,x,x0,y,y0,z0,pfx_x,pfx_z,nasty,zone,code,type,pitch_type,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.41600,2.96300,92.90000,84.10000,2305.05200,159.23500,-25.00000,3.20000,23.70000,7.66500,34.68500,-11.96000,1.72000,3.56000,2.00000,-6.40900,-136.06500,-3.99500,101.14000,2.28000,158.78000,50.00000,5.30200,4.16000,10.93000,55.00000,3.00000,C,S,FF,3,0.00000,2015000001.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000
1,-0.19100,2.34700,92.80000,84.10000,2689.93500,151.40200,-40.70000,3.40000,23.70000,12.04300,34.22500,-10.08500,1.72000,3.56000,2.00000,-8.41100,-135.69000,-5.98000,124.28000,2.11900,175.41000,50.00000,5.30700,6.57000,12.00000,31.00000,5.00000,S,S,FF,4,0.00000,2015000001.00000,0.00000,1.00000,0.00000,2.00000,0.00000,0.00000,0.00000
2,-0.51800,3.28400,94.10000,85.20000,2647.97200,145.12500,-43.70000,3.70000,23.70000,14.36800,35.27600,-11.56000,1.72000,3.56000,2.00000,-9.80200,-137.66800,-3.33700,136.74000,2.12700,150.11000,50.00000,5.31300,7.61000,10.88000,49.00000,1.00000,F,S,FF,5,0.00000,2015000001.00000,0.00000,2.00000,0.00000,3.00000,0.00000,0.00000,0.00000
3,-0.64100,1.22100,91.00000,84.00000,1289.59000,169.75100,-1.30000,5.00000,23.80000,2.10400,28.35400,-20.54000,1.74000,3.35000,2.00000,-8.07100,-133.00500,-6.56700,109.68564,2.27900,187.46348,50.00000,5.21000,1.17000,6.45000,41.00000,13.00000,B,B,FF,6,0.00000,2015000001.00000,0.00000,2.00000,0.00000,4.00000,0.00000,0.00000,0.00000
4,-1.82100,2.08300,75.40000,69.60000,1374.56900,280.67100,18.40000,12.00000,23.80000,-10.28000,21.77400,-34.11100,1.72000,3.56000,2.00000,-6.30900,-110.40900,0.32500,146.52753,2.17900,177.24283,50.00000,5.55700,-8.43000,-1.65000,18.00000,13.00000,B,B,CU,7,0.00000,2015000001.00000,1.00000,2.00000,0.00000,5.00000,0.00000,0.00000,0.00000

In [22]:
pitches['is_strike'] = pitches.type == 'S'
pitches.is_strike.replace({False: 0, True: 1}, inplace=True)

In [23]:
pitches.head()

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,ay,az,sz_bot,sz_top,type_confidence,vx0,vy0,vz0,x,x0,y,y0,z0,pfx_x,pfx_z,nasty,zone,code,type,pitch_type,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b,is_strike
0,0.41600,2.96300,92.90000,84.10000,2305.05200,159.23500,-25.00000,3.20000,23.70000,7.66500,34.68500,-11.96000,1.72000,3.56000,2.00000,-6.40900,-136.06500,-3.99500,101.14000,2.28000,158.78000,50.00000,5.30200,4.16000,10.93000,55.00000,3.00000,C,S,FF,3,0.00000,2015000001.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1
1,-0.19100,2.34700,92.80000,84.10000,2689.93500,151.40200,-40.70000,3.40000,23.70000,12.04300,34.22500,-10.08500,1.72000,3.56000,2.00000,-8.41100,-135.69000,-5.98000,124.28000,2.11900,175.41000,50.00000,5.30700,6.57000,12.00000,31.00000,5.00000,S,S,FF,4,0.00000,2015000001.00000,0.00000,1.00000,0.00000,2.00000,0.00000,0.00000,0.00000,1
2,-0.51800,3.28400,94.10000,85.20000,2647.97200,145.12500,-43.70000,3.70000,23.70000,14.36800,35.27600,-11.56000,1.72000,3.56000,2.00000,-9.80200,-137.66800,-3.33700,136.74000,2.12700,150.11000,50.00000,5.31300,7.61000,10.88000,49.00000,1.00000,F,S,FF,5,0.00000,2015000001.00000,0.00000,2.00000,0.00000,3.00000,0.00000,0.00000,0.00000,1
3,-0.64100,1.22100,91.00000,84.00000,1289.59000,169.75100,-1.30000,5.00000,23.80000,2.10400,28.35400,-20.54000,1.74000,3.35000,2.00000,-8.07100,-133.00500,-6.56700,109.68564,2.27900,187.46348,50.00000,5.21000,1.17000,6.45000,41.00000,13.00000,B,B,FF,6,0.00000,2015000001.00000,0.00000,2.00000,0.00000,4.00000,0.00000,0.00000,0.00000,0
4,-1.82100,2.08300,75.40000,69.60000,1374.56900,280.67100,18.40000,12.00000,23.80000,-10.28000,21.77400,-34.11100,1.72000,3.56000,2.00000,-6.30900,-110.40900,0.32500,146.52753,2.17900,177.24283,50.00000,5.55700,-8.43000,-1.65000,18.00000,13.00000,B,B,CU,7,0.00000,2015000001.00000,1.00000,2.00000,0.00000,5.00000,0.00000,0.00000,0.00000,0

In [29]:
strikes = pitches[pitches.is_strike == 1]

In [30]:
strikes.shape

(1308865, 41)

In [31]:
strikes.head()

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,ay,az,sz_bot,sz_top,type_confidence,vx0,vy0,vz0,x,x0,y,y0,z0,pfx_x,pfx_z,nasty,zone,code,type,pitch_type,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b,is_strike
0,0.41600,2.96300,92.90000,84.10000,2305.05200,159.23500,-25.00000,3.20000,23.70000,7.66500,34.68500,-11.96000,1.72000,3.56000,2.00000,-6.40900,-136.06500,-3.99500,101.14000,2.28000,158.78000,50.00000,5.30200,4.16000,10.93000,55.00000,3.00000,C,S,FF,3,0.00000,2015000001.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1
1,-0.19100,2.34700,92.80000,84.10000,2689.93500,151.40200,-40.70000,3.40000,23.70000,12.04300,34.22500,-10.08500,1.72000,3.56000,2.00000,-8.41100,-135.69000,-5.98000,124.28000,2.11900,175.41000,50.00000,5.30700,6.57000,12.00000,31.00000,5.00000,S,S,FF,4,0.00000,2015000001.00000,0.00000,1.00000,0.00000,2.00000,0.00000,0.00000,0.00000,1
2,-0.51800,3.28400,94.10000,85.20000,2647.97200,145.12500,-43.70000,3.70000,23.70000,14.36800,35.27600,-11.56000,1.72000,3.56000,2.00000,-9.80200,-137.66800,-3.33700,136.74000,2.12700,150.11000,50.00000,5.31300,7.61000,10.88000,49.00000,1.00000,F,S,FF,5,0.00000,2015000001.00000,0.00000,2.00000,0.00000,3.00000,0.00000,0.00000,0.00000,1
11,0.20000,2.64300,90.50000,83.70000,2186.17300,119.21400,-34.40000,6.30000,23.80000,17.41100,26.45200,-22.43800,1.73000,3.68000,2.00000,-8.70400,-132.38000,-2.68500,109.38000,2.25300,167.42000,50.00000,5.30100,9.74000,5.41000,40.00000,5.00000,F,S,SI,25,1.00000,2015000004.00000,0.00000,0.00000,1.00000,1.00000,1.00000,0.00000,0.00000,1
12,-0.74100,2.93000,90.60000,83.00000,2234.96100,154.19700,-25.50000,3.70000,23.80000,8.88900,29.43100,-13.79000,1.73000,3.68000,2.00000,-8.80100,-132.55400,-3.66600,145.25000,1.97700,159.67000,50.00000,5.34300,5.02000,10.33000,49.00000,11.00000,F,S,FF,26,1.00000,2015000004.00000,0.00000,1.00000,1.00000,2.00000,1.00000,0.00000,0.00000,1

In [46]:
fast_fast_balls = strikes[strikes.end_speed > 90]

In [47]:
fast_fast_balls

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,ay,az,sz_bot,sz_top,type_confidence,vx0,vy0,vz0,x,x0,y,y0,z0,pfx_x,pfx_z,nasty,zone,code,type,pitch_type,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b,is_strike
1480,0.35700,2.63000,97.60000,90.10000,2697.63900,206.46300,45.20000,2.80000,23.80000,-11.82200,31.08600,-8.42600,1.57000,3.29000,2.00000,7.11200,-142.66600,-8.30000,103.39000,-1.42000,167.77000,50.00000,6.09900,-5.70000,11.42000,51.00000,6.00000,C,S,FF,145,0.00000,2015000375.00000,0.00000,0.00000,2.00000,1.00000,0.00000,0.00000,0.00000,1
1578,-0.21700,0.86600,97.20000,90.20000,2493.22600,201.57500,31.80000,2.80000,23.80000,-8.96600,29.81300,-9.50100,1.61000,3.48000,2.00000,7.56000,-141.87300,-11.97300,125.27000,-2.33900,215.40000,50.00000,5.72700,-4.36000,10.99000,28.00000,13.00000,S,S,FF,374,1.00000,2015000404.00000,3.00000,2.00000,0.00000,6.00000,0.00000,0.00000,0.00000,1
2887,-0.60500,2.42400,99.80000,91.90000,3419.36900,157.47100,-76.40000,2.30000,23.80000,13.18000,33.57400,-0.40200,1.51000,3.39000,0.90700,-4.88100,-145.94200,-10.98400,140.06000,0.29500,173.33000,50.00000,6.25600,6.10000,14.66000,40.00000,4.00000,S,S,FF,502,2.00000,2015000765.00000,0.00000,1.00000,0.00000,2.00000,0.00000,0.00000,0.00000,1
2888,-0.67400,2.76600,99.60000,91.80000,3044.39200,157.86700,-60.30000,2.30000,23.80000,11.52400,33.42100,-3.84300,1.51000,3.39000,0.90400,-4.64700,-145.75100,-9.35300,142.69000,0.24500,164.10000,50.00000,6.24400,5.34000,13.10000,48.00000,1.00000,S,S,FF,503,2.00000,2015000765.00000,0.00000,2.00000,0.00000,3.00000,0.00000,0.00000,0.00000,1
2889,-0.21800,2.75400,98.80000,90.60000,2867.17400,160.94800,-49.70000,2.20000,23.80000,9.33300,34.84900,-5.15100,1.54000,3.29000,0.90000,-3.32400,-144.66100,-8.79000,125.31000,0.37400,164.42000,50.00000,6.15300,4.42000,12.76000,49.00000,2.00000,C,S,FF,507,2.00000,2015000766.00000,0.00000,0.00000,1.00000,1.00000,0.00000,0.00000,0.00000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2866825,-0.08398,3.27396,99.00000,90.50000,2645.78800,208.40900,48.40000,3.00000,23.80000,-12.50857,31.47649,-9.04953,1.60100,3.49000,2.00000,3.50174,-144.16194,-6.45327,120.18000,-0.54308,150.29000,50.00000,6.09084,-5.90549,10.91745,29.00000,2.00000,F,S,FF,420,0.00000,2018185490.00000,3.00000,2.00000,2.00000,6.00000,1.00000,0.00000,0.00000,1
2867109,-0.24735,3.16722,98.50000,90.50000,2272.64900,149.18100,-34.10000,3.20000,23.80000,11.49803,29.69272,-12.90134,1.32619,3.22291,0.89700,-11.09460,-143.26167,-3.44873,126.43000,2.94535,153.27000,50.00000,5.18012,5.47244,9.17277,54.00000,1.00000,C,S,FF,486,1.00000,2018185564.00000,0.00000,0.00000,1.00000,1.00000,0.00000,0.00000,0.00000,1
2867114,-0.88275,1.91470,98.80000,90.70000,2605.90700,146.78400,-42.50000,3.20000,23.80000,14.09643,31.80082,-10.64618,1.56500,3.41100,0.89800,-13.27935,-143.25954,-7.16664,150.65000,2.92622,187.12000,50.00000,5.10734,6.75478,10.31581,54.00000,13.00000,F,S,FF,494,1.00000,2018185565.00000,1.00000,2.00000,2.00000,4.00000,0.00000,0.00000,0.00000,1
2867115,0.20204,2.14640,99.20000,90.70000,2485.83500,144.93600,-41.80000,3.40000,23.80000,14.18455,31.47608,-11.96546,1.56500,3.41100,0.90300,-10.67865,-144.09461,-6.23552,109.30000,3.07412,180.80000,50.00000,5.06783,6.70363,9.55059,27.00000,8.00000,F,S,FF,495,1.00000,2018185565.00000,1.00000,2.00000,2.00000,5.00000,0.00000,0.00000,0.00000,1
2867117,0.11028,3.40049,98.80000,90.40000,2453.75200,145.47500,-41.90000,3.30000,23.80000,13.76733,30.73169,-12.16191,1.56500,3.41100,0.89900,-10.89941,-143.61708,-2.71878,112.80000,3.09095,146.93000,50.00000,5.10748,6.53861,9.50450,32.00000,2.00000,S,S,FF,497,1.00000,2018185565.00000,2.00000,2.00000,2.00000,7.00000,0.00000,0.00000,0.00000,1

In [48]:
names.head()

       id first_name   last_name
0  452657        Jon      Lester
1  425794       Adam  Wainwright
2  457435       Phil        Coke
3  435400      Jason       Motte
4  519166       Neil     Ramirez